* // {
  border: thin red dashed;
  box-sizing: border-box;
}

body {
margin: 0;
font-family: 'Abril Fatface', cursive;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
border: 40px rgb(227, 212, 231) solid
}

.bg{
background-image: url(https://media.tenor.com/ImM0m6NMSTkAAAAd/sunset.gif);
background-repeat: no-repeat;
background-position: center;
height: 100vh;
}
.row {
  display: flex;
  justify-content: space-between;
  }

.row-center {
  display: flex;
  justify-content: center;
}

.mb {
  margin-bottom: 10px;
}

.button {
color: rgb(151, 104, 192); 
font: 25px Copperplate;
border: 1px rgba(236, 185, 227, 0.738) solid; 
padding: 3px; 
border-radius: 3px; 
text-decoration: none; 
width: 100%;
display: inline-block;
text-align: center;
padding-top: 0.25em;
padding-top: 0.25em;
}

.player-card {
border: thin rgb(130, 161, 219) solid;
font-size: 25px;
width: 49%;
border-radius: 10px;
}

.computer-card {
border: thin rgb(80, 23, 80) solid;
font-size: 25px;
width: 49%;
border-radius: 10px;
}

.outcome-card {
  border: thin rgb(214, 199, 199) solid;
  font-size: 25px;
  width: 66%;
  border-radius: 10px;
  background-color:rgb(237, 222, 251);
}

.one-third {
width: 32%;
}

.centered {
text-align: center;
}

.rules-texts {
text-decoration: none;
margin-top: 50px;
font: 25px Copperplate;
}

.container{
  width: 960px;
}
